.pad{
    width: 150px;
    height: 150px;
    background: whitesmoke;
    margin: 5px;
    cursor: pointer;
    position: relative;
    box-shadow: 1px 1px 3px #00000066


}

.inner-container{
    max-width: 530px;
    min-height: 530px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* margin: 0 auto; */
    flex-wrap: wrap;
}
.main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 20vh;
}

.spinner-container{
    position: absolute;
    top: 45%;
    margin: 0 auto;
    left: 38%;
}


.mute{
    background: red;
    color: white;
}

.play{
    background: green;
    color: white;
}

.btn-container{
    padding:5px;
}


@media only screen and (max-width: 750px) {
    .main-container {
      flex-direction: column-reverse;
    }
    .inner-container{
        margin: 0 auto;
    }
  }

  

@media only screen and (max-width: 500px) {
    .main-container {
      top: 10px;
    }
 
  }